.form,
.input,
.searchBtn {
    font-family: 'Kanit', sans-serif;
}

.form {
    background-color: #212848;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.box {
    display: flex;
    width: 100%
}

.icon {
    color: #0079FE;
    padding: 1rem 0.5rem;
}

.input {
    background-color: transparent;
    border: 0;
    margin-left: 5px;
    color: #fff;
    width: 100%;
    padding: 1rem;
}

.input:focus {
    outline: none;
}


.searchBtn {
    background-color: #0079FE;
    color: #fff;
    border: 0px;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 0.5rem;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .searchBtn {
        padding: 5px 10px;
        font-size: 12px;
    }
}

/* light theme */